.green {
  color: green;
  display: inline;
  padding: 5x;
  font-size: xx-large;
}

.yellow {
  color: yellow;
  display: inline;
  padding: 5px;
  font-size: xx-large;
}

.black {
  color: black;
  display: inline;
  padding: 5px;
  font-size: xx-large;
}
